{% extends 'main/base.html'%}
{% load static %}


{% block data %}
<nav class="navbar navbar-main navbar-expand-lg border-bottom">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-bars text-muted mr-2"></i> Demo pages </a>
			<div class="dropdown-menu dropdown-large">
				<nav class="row">
					<div class="col-6">
						<a href="page-index-1.html">Home page 1</a>
						<a href="page-index-2.html">Home page 2</a>
						<a href="page-category.html">All category</a>
						<a href="page-listing-large.html">Listing list</a>
						<a href="page-listing-grid.html">Listing grid</a>
						<a href="page-shopping-cart.html">Shopping cart</a>
						<a href="page-detail-product.html">Product detail</a>
						<a href="page-content.html">Page content</a>
						<a href="page-user-login.html">Page login</a>
						<a href="page-user-register.html">Page register</a>
					</div>
					<div class="col-6">
						<a href="page-profile-main.html">Profile main</a>
						<a href="page-profile-orders.html">Profile orders</a>
						<a href="page-profile-seller.html">Profile seller</a>
						<a href="page-profile-wishlist.html">Profile wishlist</a>
						<a href="page-profile-setting.html">Profile setting</a>
						<a href="page-profile-address.html">Profile address</a>
						<a href="page-components.html" target="_blank">More components</a>
					</div>
				</nav> <!--  row end .// -->
			</div> <!--  dropdown-menu dropdown-large end.// -->
		</li>
      	<li class="nav-item">
           <a class="nav-link" href="#">Ready to ship</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trade shows</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sell with us</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-md-auto">
      	  <li class="nav-item">
            <a class="nav-link" href="#">Get the app</a>
          </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown">English</a>
	        <div class="dropdown-menu dropdown-menu-right">
	          <a class="dropdown-item" href="#">Russian</a>
	          <a class="dropdown-item" href="#">French</a>
	          <a class="dropdown-item" href="#">Spanish</a>
	          <a class="dropdown-item" href="#">Chinese</a>
	        </div>
	      </li>
	   </ul>
    </div> <!-- collapse .// -->
  </div> <!-- container .// -->
</nav>
</header> <!-- section-header.// -->


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<nav class="row">
		<div class="col-md-3">
			
			<div class="card card-category">
			  <div class="img-wrap" style="background: #ffd7d7">
			  	<img src="images/items/1.jpg">
			  </div>
			  <div class="card-body">
			    <h4 class="card-title"><a href="#">Summer shirts</a></h4>
			    <ul class="list-menu">
			    	<li><a href="">Unisex T shirts</a></li>
					<li><a href="">Casual shirts</a></li>
					<li><a href="">Scherf Ice cream</a></li>
					<li><a href="">Another category</a></li>
					<li><a href="">Great items name</a></li>
					<li><a href="">Great items name</a></li>
			    </ul>
			  </div>
			</div>
		</div> <!-- col.// -->
		<div class="col-md-3">
			<div class="card card-category">
			  <div class="img-wrap" style="background: #FFF68D">
			  	<img src="images/items/2.jpg">
			  </div>
			  <div class="card-body">
			    <h4 class="card-title"><a href="#">Winter jackets</a></h4>
			    <ul class="list-menu">
			    	<li><a href="">Leather jackets</a></li>
					<li><a href="">Men's jackets</a></li>
					<li><a href="">Heating battery clothes</a></li>
					<li><a href="">Jeans jackets</a></li>
					<li><a href="">Great items name</a></li>
			    </ul>
			  </div>
			</div>
		</div> <!-- col.// -->
		<div class="col-md-3">
			<div class="card card-category">
			  <div class="img-wrap" style="background: #bcffb8">
			  	<img src="images/items/3.jpg">
			  </div>
			  <div class="card-body">
			    <h4 class="card-title"><a href="#">Shorts</a></h4>
			    <ul class="list-menu">
			    	<li><a href="">Jeans shorts</a></li>
					<li><a href="">Swimming shorts</a></li>
					<li><a href="">Another some shorts</a></li>
					<li><a href="">Another category</a></li>
			    </ul>
			  </div>
			</div>
		</div> <!-- col.// -->
		<div class="col-md-3">
			<div class="card card-category">
			  <div class="img-wrap" style="background: #c9fff3">
			  	<img src="images/items/4.jpg">
			  </div>
			  <div class="card-body">
			    <h4 class="card-title"><a href="#">Travel bags </a></h4>
			    <ul class="list-menu">
			    	<li><a href="">Leather bags</a></li>
					<li><a href="">Cook & Hold ovens</a></li>
					<li><a href="">Scherf Ice cream</a></li>
					<li><a href="">Another category</a></li>
					<li><a href="">Great items name</a></li>
			    </ul>
			  </div>
			</div>
		</div> <!-- col.// -->
		<div class="col-md-3">
			<div class="card card-category">
			  <a href="#" class="img-wrap" style="background: #ddffeb">
			  	<img src="images/items/5.jpg">
			  </a>
			  <div class="card-body">
			    <h4 class="card-title"><a href="#">Great items</a></h4>
			    <ul class="list-menu">
			    	<li><a href="">Combi steamers</a></li>
					<li><a href="">Cook & Hold ovens</a></li>
					<li><a href="">Scherf Ice cream</a></li>
					<li><a href="">Another category</a></li>
					<li><a href="">Great items name</a></li>
			    </ul>
			  </div>
			</div>
		</div> <!-- col.// -->
		<div class="col-md-3">
			<div class="card card-category">
			  <a href="#" class="img-wrap" style="background: #dee4ff">
			  	<img src="images/items/6.jpg">
			  </a>
			  <div class="card-body">
			    <h4 class="card-title"><a href="#">Kitchen furniture</a></h4>
			    <ul class="list-menu">
			    	<li><a href="">Combi steamers</a></li>
					<li><a href="">Cook & Hold ovens</a></li>
					<li><a href="">Scherf Ice cream</a></li>
					<li><a href="">Another category</a></li>
					<li><a href="">Great items name</a></li>
			    </ul>
			  </div>
			</div>
		</div> <!-- col.// -->
		<div class="col-md-3">
			<div class="card card-category">
			  <a href="#" class="img-wrap" style="background: #ddffeb">
			  	<img src="images/items/2.jpg">
			  </a>
			  <div class="card-body">
			    <h4 class="card-title"><a href="#">Great items</a></h4>
			    <ul class="list-menu">
			    	<li><a href="">Combi steamers</a></li>
					<li><a href="">Cook & Hold ovens</a></li>
					<li><a href="">Scherf Ice cream</a></li>
					<li><a href="">Another category</a></li>
					<li><a href="">Great items name</a></li>
			    </ul>
			  </div>
			</div>
		</div> <!-- col.// -->
		<div class="col-md-3">
			<div class="card card-category">
			  <a href="#" class="img-wrap" style="background: #dee4ff">
			  	<img src="images/items/1.jpg">
			  </a>
			  <div class="card-body">
			    <h4 class="card-title"><a href="#">Other clothes</a></h4>
			    <ul class="list-menu">
			    	<li><a href="">Jeans shorts</a></li>
					<li><a href="">Cook & Hold ovens</a></li>
					<li><a href="">Scherf Ice cream</a></li>
					<li><a href="">Another category</a></li>
					<li><a href="">Great items name</a></li>
			    </ul>
			  </div>
			</div>
		</div> <!-- col.// -->
	</nav> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock data %}

